@import "bourbon";
@import "neat";

html,
body {
  margin: 0;
  font-size: 10px;
  font-family: 'Inconsolata', monospace;
}

li {
  list-style: none;
}

img {
  width: 200px;
  position: relative;
}

.image-hover {
  z-index: 1;
  box-shadow: 2px 2px 10px #9d9d9d;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.navbar {
  @include grid-container;

  margin: 0;
  position: relative;
  min-height: 60px;
  background:
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      rgba(51, 51, 51, 0.9)
      30%
    );
}

.navbar-header {
  float: left;
  display: block;
  box-sizing: border-box;
  margin-top: 11px;
  width: 100%;
}

.navbar-brand {
  box-sizing: border-box;
  font-size: 3rem;
  color: #9d9d9d;
  text-decoration: none;
  padding: 15px;
  line-height: 20px;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 5px 10px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: 0;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #9d9d9d;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.navbar-right {
  float: right;
  position: relative;
  margin: 0;
  top: -19px;
}

.navbar-nav > li {
  float: left;
  position: relative;
  display: block;
}

.navbar-nav li a {
  color: #f7f7f7;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding: 15px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: rgba(249, 249, 249, 0.2);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  margin: 4px;
}

.dropdown-menu li a {
  color: rgba(51, 51, 51, 0.9);
}

@media (max-width: 768px) {
  .navbar-nav {
    display: none;
  }
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.container {
  @include grid-container;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
  content: "";
  display: block;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.contents-container {
  width: 80%;
  height: auto;
}

.image-wrapper {
  width: 100%;
  height: auto;
  position: relative;
}

#plant {
  position: absolute;
  left: 190px;
  top: 70px;
}

#butterfly {
  position: absolute;
  left: 330px;
  top: 150px;
}

#dance {
  position: absolute;
  left: 500px;
  top: 180px;
}

#faces {
  position: absolute;
  left: 500px;
  top: 260px;
}

#dance {
  position: absolute;
  left: 650px;
  top: 150px;
}

#strange {
  position: absolute;
  left: 400px;
  top: 340px;
}

#yannar {
  position: absolute;
  left: 300px;
  top: 460px;
}

#korea {
  position: absolute;
  left: 440px;
  top: 580px;
}

#oni-fish {
  position: absolute;
  left: 560px;
  top: 700px;
}

#saga {
  position: absolute;
  left: 580px;
  top: 500px;
}
